.detailsContainer {
  max-width: 1120px;
  margin: 0 auto;
  color: var(--secondary-600);
}
.detailsHeaderContainer {
  align-items: center;
  background-color: var(--secondary-50);
}

.detailsHeader {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.detailsHeader .nameProduct {
  font: var(--h5);
  color: var(--sencondary-900);
}

.detailsHeader .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font: var(--body-16);
  padding: 10px;
  color: var(--secondary-600);
  border-radius: 4px;
  cursor: pointer;
}

.detailsHeader .button:hover {
  background-color: var(--secondary-100);
}

.detailsHeader button svg {
  vertical-align: middle;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}

.productDetails img {
  height: 300px;
}

.descriptionContainer {
  width: 48%;
  line-height: 1.5rem;
}

.descriptionTitle {
  margin-bottom: 20px;
}
.review {
  width: 48%;
}

.productFeature {
  margin-bottom: 40px;
}
.productDetails .description {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.productDetails .description h3 {
  font: var(--h2);
  color: var(--primary-600);
  padding: 0;
  line-height: 4rem;
}

.productDetails .description .category {
  background-color: var(--secondary-300);
  font-size: 12px;
  border-radius: 6px;
  padding: 7px;
  text-align: center;
  width: fit-content;
  font: var(--body-12);
  color: white;
}

.productDetails .description .productDescription {
  font: var(--body-16);
  line-height: 1.3rem;
}

.productDetails .description .price {
  color: var(--semantics-info);
  font: var(--h3);
  margin-right: 10%;
  line-height: 4rem;
}

.colorBoxContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70vh;
  background-color: var(--secondary-50);
  z-index: -1;
  width: 100%;
}

.photo {
  background-color: var(--secondary-100);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
}

.photoPrincipal {
  width: 50%;
  height: 100%;
}
.photoSecondary {
  width: 50%;
  height: 50%;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--secondary-200);
}

.titleFeature {
  font: var(--h4);
  color: var(--secondary-600);
  margin-bottom: 10px;
}

.textFeature {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-top: 20px;
  gap: 16px;
  font: var(--body-16);
  color: var(--primary-600);
}

.textFeature .textFeatureDetails {
  color: var(--secondary-600);
}

.photoSecondary {
  display: flex;
  flex-wrap: wrap;
}

.photoSecondary img {
  flex-basis: 50%;
  max-width: 50%;
  height: auto;
}

.button {
  background-color: none;
  font: var(--body-12);
  color: var(--state-available);
}

@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
  }

  .productDetails .description {
    width: 100%;
    margin: 5% 0;
  }

  .productFeature {
    margin-top: 20px;
  }

  .textFeature {
    flex-basis: 50%;
  }

  .descriptionContainer {
    width: 100%;
  }

  .productDetails .description {
    flex-direction: column;
  }

  .review {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .feature {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .textFeature {
    margin-top: 10px;
  }
}
