@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.detailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    background-color: var(--secondary-300);
}

.detailsHeader p {
    font: var(--h2);
    color: var(--primary-300);
}

.detailsHeader button {
    width: fit-content;
    padding: 6px 10px;
}

.productDetails {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.productDetails img {
    height: 300px;
}

.productDetails .description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.productDetails .description h3 {
    font: var(--h1);
    color: var(--primary-600);
    padding: 2% 0;
}

.productDetails .description .category {
    background-color: var(--secondary-300);
    font-size: 12px;
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    width: fit-content;
}

.productDetails .description .productDescription {
    
}

.colorBoxContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 40vh;
    background-color: var(--secondary-50);
    z-index: -1;
    width: 100%;
}
