.container-button {
  background-color: #0089ff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 0.5rem;
}

.container-button p {
  font-size: 14px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-heading-container {
  padding: 0 1rem;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-content img {
  border: 1px solid var(--secondary-50);
  width: -webkit-fill-available;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem;
  margin: 0 1rem;
}

.container-ubication {
  font-size: 14px;
  color: var(--secondary-300);
}

.close-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: var(--sencondary-900);
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: var(--secondary-50);
  font-size: 20px;
  cursor: pointer;
}
.modal-heading {
  color: var(--secondary-300);
  margin: 15px 0;
}

.container-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-header-product {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
}

.description {
  font-size: 14px;
  padding: 1rem;
  padding-bottom:0 ;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media {
  padding-bottom: 1rem;
  /* border-top: 1px solid var(--secondary-50); */
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--secondary-50);
}

.container-ubication {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 450px) {
}
