.initials-circle {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  color: var(--white-100);
  font-size: 14px;
  letter-spacing: 1px;
}
