@import "/src/styles/variables.css";
@import "/src/styles/global.css";



.header {
  position:sticky;
  width: 100vw;
  height: 80px;
  left: 0;
  top: 0;
  background-color: var(--bg-white-50);
  z-index: 3;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  
}

.header img {
  margin-left: 56px;
}

.lemaHeader{
  color: var(--secondary-600);
  font: var(--body-16);
  margin-left: 25%;
  font-style: oblique;
}
.noUnderlined{
  text-decoration: none;
}

.cuentaBtn,
.sesionBtn {
  font-size: var(--body-16);
  height: 40px;
  width: 160px;
  left: 176px;
  top: 0px;
  border-radius: 4px;
}
.cuentaBtn {
  color: var(--secondary-600);
  background-color: var(--bg-white-50);
  border: none;
  border-width: 1.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.sesionBtn {
  line-height: 19px;
  color: var(--white-100);
  background-color: var(--secondary-600);
  margin-right: 56px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0 10px;
}
nav {
  margin-top: 100px;
  display: none;
  position: sticky;
}
.footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  background-color: var(--black);
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.isologotipo {
  margin-left: 56px;
}
.logo {
  width: 85px;
}
.lema {
  width: 95px;
}
.footerIcons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 15%;
  margin-right: 56px;
}
.copyright {
  padding-top: 7px;
  padding-left: 45px;
}
.menuIcon {
  color: black;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid var(--primary-300);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.header ul {
  display: none;
}
.header input:checked ~ ul {
  display: block;
}
.header input {
  display: none;
}
label:hover {
  border: 1.5px solid var(--primary-300);
}
.header input:checked ~ label {
  background: var(--primary-300);
}
.header ul {
  margin-top: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  right: 1px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.header li {
  display: block;
  background: var(--bg-white-50);
  margin: 0;
  padding: 10px;
  list-style: none;
  border-top: 1.5px solid var(--primary-300);
  border-bottom: 1px solid var(--primary-300);
  border-radius: 5px;
  color: var(--secondary-600);
  transition: 0.3s ease;
  font-size: var(--body-16);
}
li:hover {
  color: var(--secondary-600);
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
}

.header ul.user-profile li {
  border: none;
  font: var(--body-12);
  padding-left: 20px;
}

.header ul.user-profile li.logout {
  color: var(--semantics-error);
  font-weight: 600;
}

.header ul.user-profile hr {
  margin: 0 10px;
  border: 0 none var(--secondary-200);
  border-top: 1px solid var(--secondary-200);
  height: 1px;
  display: block;
  clear: both;
}

.header #userData:checked ~ label {
  background-color: transparent;
  border-color: transparent;
}

.header .userDataIcon {
  display: block;
  display: flex;
  margin-right: 16px;
  align-items: center;
  font: var(--body-16);
  color: var(--secondary-600);
  border-color: transparent;
  margin-right: 40px;
}

.header .userDataIcon .user-logo {
  padding: 8px;
  background-color: var(--primary-300);
  border-radius: 50%;
  margin-left: 10px;
  height: 42px;
  width: 42px;
  color: white;
  display: flex;
  align-items: center;
  letter-spacing: 0.08rem;
}

@media (max-width: 1024px) {
   .header img {
    margin-left: 40px;
    width: 380px;
    height: 30px;
  }
  .cuentaBtn,
  .sesionBtn {
    font-size: var(--body-16);
    height: 37px;
    width: 150px;
    left: 176px;
    top: 0px;
    border-radius: 4px;
  }
  .sesionBtn {
    margin-right: 40px;
    line-height: 18.5px; 
  }
  .logo {
    width: 70px;
    height: 40px;
  }
  .lemaHeader {
    font-size: var(--body-20);
  }
  .lema {
    width: 90px;
    height: 35px;
  }
  .isologotipo {
    margin-left: 40px;
  }
  .footerIcons {
    width: 18%;
    margin-right: 40px;
  }
}



  @media (max-width: 768px) {
    .header img {
      margin-left: 35px;
      width: 178px;
      height: 16px;
    }
    .lemaHeader{
      font: var(--body-12);
      margin-left: 20%;
    }
    .cuentaBtn,
    .sesionBtn {
      display: none;
    }

    nav {
      display: block;
      /* position: absolute; */
      position: fixed;
      margin-top: 0px;
      margin-left: 88%;
    }
    .footerContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 60px;
    }
    .logo {
      width: 60px;
      height: 30px;
    }
    .lema {
      display: none;
    }

  .footerIcons {
    display: none;
  }
  .outlet {
    min-height: calc(100vh - 140px);
    margin-left: 0;
  }
  .header .userDataIcon .user-name {
    display: none;
  }
}

@media (max-width: 320px) {
  .header img {
    margin-left: 65px;
    width: 150px;
    height: 16px;
  }
  .cuentaBtn,
  .sesionBtn {
    display: none;
  }
}

