@import "/src/styles/variables.css";
@import "/src/styles/global.css";



/* * {
  box-sizing: border-box;
  margin: 0px;
  font: var(--body-14-normal);
}

body{
  min-height: 100vh;
}
:root {
  --line-stroke: rgba(20, 24, 61, 1);
  --bg-white-50: #fbfcfe;
  --secondary-600: #37536b;
  --body-16: 400 1rem / normal Roboto;
  --white-100: #ffffff;
  --black: #1c262f;
  --primary-300: #a6cf7e;
} */

.header {
  position: sticky;
  width: 100vw;
  height: 80px;
  left: 0;
  top: 0;
  background-color: var(--bg-white-50);
  z-index: 2;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  
}

.header img {
  margin-left: 56px;

}

.lemaHeader{
  color: var(--secondary-600);
  font: var(--body-16);
  margin-left: 25%;
  font-style: oblique;
}
.noUnderlined{
  text-decoration: none;
}
.outlet {
  min-height: calc(100vh - 140px);
}
.cuentaBtn,
.sesionBtn {
  font-size: var(--body-16);
  height: 40px;
  width: 160px;
  left: 176px;
  top: 0px;
  border-radius: 4px;
}
.cuentaBtn {
  color: var(--secondary-600);
  background-color: var(--bg-white-50);
  border: none;
  border-width: 1.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.sesionBtn {
  line-height: 19px;
  color: var(--white-100);
  background-color: var(--secondary-600);
  margin-right: 56px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0 10px;
}
nav {
  margin-top: 100px;
  display: none;
}
.footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  background-color: var(--black);
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.isologotipo {
  margin-left: 56px;
}
.logo {
  width: 85px;
}
.lema {
  width: 95px;
}
.footerIcons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 15%;
  margin-right: 56px;
}
.copyright {
  padding-top: 7px;
  padding-left: 45px;
}
.menuIcon {
  color: black;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid var(--primary-300);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.header ul {
  display: none;
}
.header input:checked ~ ul {
  display: block;
}
.header input {
  display: none;
}
label:hover {
  border: 1.5px solid var(--primary-300);
}
.header input:checked ~ label {
  background: var(--primary-300);
}
.header ul {
  margin-top: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  right: 1px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.header li {
  display: block;
  background: var(--bg-white-50);
  margin: 0;
  padding: 10px;
  list-style: none;
  border-top: 1.5px solid var(--primary-300);
  border-bottom: 1px solid var(--primary-300);
  border-radius: 5px;
  color: var(--secondary-600);
  transition: 0.3s ease;
  font-size: var(--body-16);
}
li:hover {
  color: var(--secondary-600);
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .cuentaBtn,
  .sesionBtn {
    font-size: var(--body-16);
    height: 37px;
    width: auto; 
    flex-grow: 1; 
    max-width: 160px; 
    margin-right: 10px; 
    border-radius: 4px;
  }
  .sesionBtn {
    line-height: 37px; 
    margin-right: 20px; 
  }
  .logo {
    width: 70px;
    height: 40px;
  }
  .lema {
    width: 90px;
    height: 35px;
  }
  .isologotipo {
    margin-left: 40px;
  }
  .footerIcons {
    width: 18%;
    margin-right: 40px;
  }
}

  @media (max-width: 768px) {
    .header img {
      margin-left: 24px;
      width: 178px;
      height: 16px;
    }
    .lemaHeader{
      font: var(--body-12);
      margin-left: 18%;

    }
    .cuentaBtn,
    .sesionBtn {
      display: none;
    }

    nav {
      display: block;
      position: absolute;
      position: fixed;
      margin-top: 0px;
      margin-left: 88%;
    }
    .footerContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 60px;
    }
    .logo {
      width: 60px;
      height: 30px;
    }
    .lema {
      display: none;
    }

  .footerIcons {
    display: none;
  }
}

@media (max-width: 320px) {
  .header img {
    margin-left: 65px;
    width: 150px;
    height: 16px;
  }
  .cuentaBtn,
  .sesionBtn {
    display: none;
  }
}