.react-calendar {
  max-width: 100%;
  background-color: #fff;
  color: var(--secondary-600);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(91, 112, 204, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  overflow: hidden;
  border: 1px solid var(--secondary-100);
  padding: 12px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f5fcee;
  color: var(--primary-600);
  border-radius: 6px;
  font-weight: 700;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--primary-50);
  border-radius: 6px;
  font-weight: bold;
  color: var(--primary-900);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}
*/ .react-calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  color: #333;
}

.react-calendar__tile {
  padding: 10px;
  text-align: center;
}

.react-calendar__tile--now {
  background-color: #d8d8d8;
  color: #333;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background-color: #8c54ff;
  color: #fff;
}

.react-calendar__tile--active:hover {
  background-color: var(--sencondary-900);
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: #a78cff;
  color: #fff;
}

.react-calendar__tile--rangeStart::before,
.react-calendar__tile--rangeEnd::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.react-calendar__tile--rangeStart::before {
  background-color: #6940f4;
}

.react-calendar__tile--rangeEnd::before {
  background-color: #8c54ff;
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd::before {
  width: 12px;
  height: 12px;
}

.react-calendar__tile--now {
  background-color: var(--primary-300);
  color: #333;
  border-radius: 4px;
}

.react-calendar__tile--hasActive.react-calendar__tile--rangeStart:not(
    .react-calendar__tile--rangeEnd
  )::before,
.react-calendar__tile--hasActive.react-calendar__tile--rangeEnd:not(
    .react-calendar__tile--rangeStart
  )::before {
  width: 16px;
  height: 16px;
}

.react-calendar__navigation button:disabled {
  background-color: var(--secondary-100);
}

.react-calendar__tile--rangeStart:hover,
.react-calendar__tile--rangeEnd:hover {
  background-color: #875cfe;
}

.react-calendar__navigation {
  background-color: var(--sencondary-900);
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.react-calendar__navigation button {
  background-color: transparent;
  color: inherit;
  font-size: 14px;
  cursor: pointer;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 5px;
}

.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__month-view__days__day {
  padding: 10px;
  text-align: center;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #999;
}

.react-calendar__year-view .react-calendar__tile {
  padding: 5px;
}

.react-calendar__decade-view .react-calendar__tile {
  padding: 5px;
}

.react-calendar__century-view .react-calendar__tile {
  padding: 5px;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--primary-600);
}

.react-calendar__tile:disabled {
  background-color: #ecf4fc;
  border-radius: 4px;
  color: var(--secondary-200);
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: var(--secondary-100);
  color: #fff;
}
.react-calendar__tile--active {
  background-color: rgb(0, 81, 255);
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--secondary-300);
  color: white;
}

.selected-date {
  background-color: rgb(72, 125, 240);
  color: white;
  border-radius: 50%;
}

/* Estilos para pantallas móviles */
@media screen and (max-width: 600px) {
  .react-calendar {
    box-shadow: none;
    border: none;
    padding: 0;
    font-size: 14px;
  }

  .react-calendar__navigation button {
    font-size: 12px;
  }

  .react-calendar__tile {
    padding: 6px;
  }

  .react-calendar__navigation {
    border-radius: 0;
  }

  .react-calendar__month-view__weekdays {
    font-size: 10px;
  }

  .react-calendar__month-view__weekdays__weekday {
    padding: 3px;
  }

  .react-calendar__month-view__days__day {
    padding: 6px;
  }

  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 3px;
  }
}

/* Estilos generales */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f5fcee;
  color: var(--primary-600);
  border-radius: 6px;
  font-weight: 700;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--primary-50);
  border-radius: 6px;
  font-weight: bold;
  color: var(--primary-900);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: rgb(14, 90, 253);
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: rgb(14, 90, 253);
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgb(14, 90, 253);
  color: white;
}

.react-calendar__tile--active {
  background-color: rgb(72, 125, 240);
  color: #fff;
}

.react-calendar__tile--active:hover {
  background-color: var(--sencondary-900);
}

.selected-date {
  background-color: rgb(72, 125, 240);
  color: white;
  border-radius: 50%;
}