.detailsContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--secondary-600);
  
}

.productImageContainer {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

.productImage {
  width: 100%;
  object-fit: contain;
  padding: 0.5rem
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 51, 90, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlayText {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.productImageContainer:hover .overlay {
  opacity: 1;
}

.productInfo {
  flex: 1;
}

.category {
  font-size: 12px;
  color: #8fa9c0;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0;
  color: var(--secondary-600);
}

.locationContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.locationIcon {
  margin-right: 8px;
  color: #8fa9c0;
}

.location {
  font-size: 14px;
  color: #8fa9c0;
}

.featuresContainer {
  display: flex;
  margin-bottom: 8px;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--secondary-50);
  margin-bottom: 1rem;
  padding-bottom: 1rem ;
}

.feature {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #748fa7;
}

.featureIcon {
  margin-right: 8px;
  color: #00b300;
}

.featureText {
  font-size: 14px;
}

.description {
  font-size: 14px;
  color: var(--secondary-600);
  padding-bottom: 1rem;
  line-height: 1.5;
}

.cancellationPolicy {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.cancellationPolicy:hover {
  text-decoration: underline;
}

.productContainerHeader {
  display: flex;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
