include:
  - local: 'web-ci.yml'
  - local: 'api-ci.yml'

# stages:
#   - cicd

# web_job:
#   stage: cicd
#   only:
#     refs:
#       - main
#   trigger:
#     include:
#       - local: 'web-ci.yml'

# api_job:
#   stage: cicd
#   only:
#     refs:
#       - main
#   trigger:
#     include:
#       - local: 'api-ci.yml'