image: node:14

stages:
    - build_frontend
    - test_frontend
    - build_backend
    - test_backend
    - deploy

before_script:
    - apt-get update
    - apt-get install -y docker.io
    - export PATH=/opt/apache-maven-3.8.6/bin:/usr/local/openjdk-11/bin:$PATH
    - export JAVA_HOME=/usr/local/openjdk-11

build_frontend:
    stage: build_frontend
    script:
        - cd Web/digital-booking-c3-e-1
        - npm install
        - npm run build

test_frontend:
    stage: test_frontend
    script:
        - echo "Running fronend tests"

build_backend:
    stage: build_backend
    image: maven:3.8.6
    services:
        - docker:dind
    script:
        - echo "Localizado JDK"
        - echo $JAVA_HOME
        - apt-get update
        - apt-get install -y maven
        - cd API/digital-booking-c3-e-1
        - mvn clean package
        - cd ../../
        - docker build -t equipamiento-deportivo-image .

test_backend:
    stage: test_backend
    script:
        - echo "Running backend tests"


deploy_frontend:
  stage: deploy
  script:
    - cd Web
    - npm install
    - npm run build
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set default.region $AWS_DEFAULT_REGION
    - aws s3 sync dist/ s3://$S3_BUCKET_FRONTEND
  artifacts:
    paths:
      - Web/dist/*
