@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.selectContainer {
  width: 100%;
    max-width: 506px;
    position: relative;
    height: 40px;
    font: var(--body-14-normal);
    margin-bottom: 16px;
    color: var(--secondary-600);
    margin-top: 8px;
  }

  .label {
    font: var(--body-14-normal);
  }
  
  .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    min-width: 200px;
    background: var(--white-100); /* white-100 */
    border: 0.5px solid #C3D4E4; /* secondary-100 */
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0 16px 0;
  }
  
  .selectedOption {
    flex-grow: 1;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--black); /* black */
    border-right: 2px solid var(--black); /* black */
    transform: rotate(45deg);
    margin-left: 10px;
  }
  
  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    padding: 0;
    width: 100%;
    background: #FFFFFF; /* white-100 */
    border: 0.5px solid #C3D4E4; /* secondary-100 */
    border-top: none;
    border-radius: 0 0 4px 4px;
    list-style-type: none;
    z-index: 1; /* Agregamos un índice z para asegurar que aparezca por encima de otros elementos */
  }
  
  .option {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #F5F5F5;
  }