.containerRents {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 3rem;
  }
  
  .header {
    width: 100%;
    border-bottom: 1px solid var(--secondary-100);
    margin-bottom: 2rem;
  }
  
  .addRentsTitle {
    margin: 16px 0;
    color: var(--secondary-600);
  }