.dropdown {
  position: relative;
}

.dropdownHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-general);
  border-radius: 4px;
}

.dropdownHeaderText {
  color: var(--secondary-600);
}

.dropdownHeaderIcon {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownContent {
  background-color: white;
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  z-index: 8;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 8px;
  opacity: 0;
  height: 0;
}

.dropdownContent.opened {
    opacity: 1;
    height: auto;
    transition: opacity 0.5s, height 0.5s;
    height: 212px;
    overflow: auto;
    scrollbar-width: thin; /* Ancho del scroll (solo para navegadores que admiten la propiedad scrollbar-width) */
    scrollbar-color: var(--secondary-600) var(--secondary-50); /* Color del scroll (solo para navegadores que admiten la propiedad scrollbar-color) */
}
  
  .dropdownContent.opened::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll (solo para navegadores WebKit como Chrome y Safari) */
  }
  
  .dropdownContent.opened::-webkit-scrollbar-track {
    background-color: var(--secondary-50); /* Color del fondo del scroll (solo para navegadores WebKit) */
    border-radius: 4px;    
}
  
  .dropdownContent.opened::-webkit-scrollbar-thumb {
    background-color: var(--secondary-600); /* Color del scroll (solo para navegadores WebKit) */
    border-radius: 4px;  
}