.card {
  display: flex;
  align-items: flex-start;
  background-color: var(--white-100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-600);
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
  padding: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labelContainer {
  gap: 8px;
}

.label {
  font-size: 12px;
  color: var(--secondary-300);
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.description {
  font-size: 14px;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.4;
  max-height: 5.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.priceAndRentalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratingAndCategory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.price {
  font-size: 18px;
  margin: 0;
  margin-bottom: 12px;
}
.categoryIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid var(--accent);
}

.rentalType {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--secondary-300);
  gap: 8px;
}

/* .icon {
    margin-right: 5px;
} */

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  bottom: 0;
}

.button:hover {
  background-color: #0056b3;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 12px;
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.numRatings {
  color: var(--secondary-600);
  font: var(--body-14-normal);
  margin: 0;
}

.star {
  color: gold;
}

.starEmpty {
  color: var(--secondary-100);
}

/* Desktop y Tablet */
@media (min-width: 768px) {
  .card {
    display: flex;
    align-items: center;
  }

  .image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 14px;
  }

  .content {
    flex-grow: 1;
    padding: 10px;
  }

  .description {
    -webkit-line-clamp: 2;
  }

  .rating {
    margin-top: 0;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .content {
    height: auto;
  }
  .card {
    display: block;
  }

  .image {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }

  .description {
    -webkit-line-clamp: 2;
  }
  .ratingAndCategory {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
