.chip {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: var(--secondary-100);
    color: #333;
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
  }
  
  .selected {
    background-color: #ff4081;
    color: #fff;
  }