.containerWithSidebar {
  display: flex;
}

.filter-sidebar {
  padding: 20px;
  border-right: 1px solid #ccc;
  top: 0px;
  width: 200px;
}

.filter-group {
  margin-bottom: 20px;
  background-color: rgb(234, 238, 238);
}

.filter-group strong {
  display: block;
  margin-bottom: 5px;
}