@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.search-engine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
}

.containerButtonCalendar {
  position: relative;
}

.selectedDates {
  color: var(--secondary-600);
}

.calendarWrapper {
  margin-top: 8px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hide {
  display: none !important;
}

.show {
  display: block;
  position: relative;
  z-index: 5;
}

.button-calendar {
  display: flex;
  align-items: center;
  padding: 12px;
  min-width: 250px;
  background: var(--bg-general);
  border: 0.5px solid #c3d4e4; /* secondary-100 */
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  color: gray;
  height: 42px;
  font-size: 14px;
  z-index: 2;
  gap: 0.6rem;
}

.search-engine select {
  margin: 0;
  background: var(--bg-general);
  color: gray;
  height: 42px;
  font-size: 14px;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1400px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  height: 42px;
  background: var(--bg-general);
  border: 1px solid var(--secondary-50);
  border-radius: 4px;
}

.inputSearch {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
}

.search-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  color: var(--secondary-600);
  background-color: var(--secondary-50);
  border: 1px solid var(--secondary-50);
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.search-icon-button:hover {
  background-color: #c6d1dd;
  border-color: #c6d1dd;
}

.search-icon-button:focus {
  outline: none;
}

.search-icon-button:active {
  background-color: #a7b7c5;
  border-color: #a7b7c5;
}

.search-icon-button:focus-visible {
  box-shadow: 0 0 0 2px #fec03e;
}

.filterButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filterButton:hover {
  background-color: #0056b3;
}

@media (max-width: 992px) {
  .form {
    flex-direction: column;
  }

  .search-engine {
    left: 0px;
    top: 0px;
    padding: 1rem;
  }
}
