@import "/src/styles/variables.css";
@import "/src/styles/global.css";


.search-engine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 42px;
  left: 50.63px;
  top: 184.32px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  width: 344px;
  height: 42px;
  background: var(--bg-general);
  border: 1px solid var(--secondary-50);
  border-radius: 4px;
}

.inputSearch {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
}

.search-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  color: var(--secondary-600);
  background-color: var(--secondary-50);
  border: 1px solid var(--secondary-50);
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.search-icon-button:hover {
  background-color: #c6d1dd;
  border-color: #c6d1dd;
}

.search-icon-button:focus {
  outline: none;
}

.search-icon-button:active {
  background-color: #a7b7c5;
  border-color: #a7b7c5;
}

.search-icon-button:focus-visible {
  box-shadow: 0 0 0 2px #FEC03E;
}