form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, select, textarea {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #284258;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8abe57;
  }
