.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 164.91px;
    height: 18px;
    gap: 8px;
    font: var(--body-14-normal);
    cursor: pointer;
  }

  .button:hover,
  .button.active {
    color: var(--state-reserved);
  }

  .button:hover::before{
    content: "●";
  }

  .buttonContainer{
    margin: 16px  32px;
  }
