.item {
    display: flex;
    align-items: center;
    padding: 9px 10px;
    gap: 10px;
    width: 202px;
    height: 36px;
    left: 24px;
    background: #12334F;
    border-radius: 6px;
    color: var(--bg-white-50);
    font: var(--body-14-normal);
    margin-top: 32px;
    text-decoration: none;
  }

.active {
    /* background: #ffb224 ; */
    /* background: #ceff9d ; */
    background: #c0daf1 ;
    color: var(--sencondary-900);
  }


  