.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
  }
  
  .carouselContainer {
    position: relative;
    width: 400px; 
    height: 400px; 
    overflow: hidden;
  }
  
  .carouselSlides {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carouselImage {
    width: 400px;  
    height: 400px; 
    object-fit: cover; 
  }
  
  .carouselButton {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.2); /* Agrega un fondo semitransparente */
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    z-index: 10;
    padding: 5px;
    border-radius: 30%; /* Hace que el fondo sea circular */
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}
  
.next {
    right: 10px;
    transform: translateY(-50%);
}

/* Estilos para el paginador */
.paginator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.paginatorDot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Agrega esta clase para el punto activo */
.activeDot {
  background-color: green;
}