.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--secondary-600);
}
.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 20px;
}
.headerIcon {
  font-size: 24px;
  color: var(--secondary-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerNameLastName {
  display: flex;
  gap: 1rem;
}

.title {
  font-size: 20px;
}

.description {
  color: var(--secondary-300);
  margin-bottom: 20px;
}

.userContainer {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.inputContainer {
  margin-bottom: 10px;
  width: 100%;
}

.additionalFormContainer {
  margin-bottom: 20px;
  padding-top: 1.5rem;
  border-top: 1px solid var(--secondary-50);
}

.additionalFormContainer h4 {
  margin-bottom: 1rem;
}

.checkboxContainer {
  margin-bottom: 40px;
}

.checkbox {
  margin-right: 10px;
}

.checkboxLabel {
  font-size: 14px;
  color: var(--secondary-600);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addButton {
  background-color: var(--white-100);
  color: forestgreen;
  border: 1px solid forestgreen;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton {
  background-color: var(--semantics-error);
  color: #fff;
  border: 1px solid var(--semantics-error);
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  border: 1px solid var(--primary-600);
  background-color: var(--primary-600);
  color: #fff;
}

.deleteButton:hover {
  background-color: #e45a3e;
}

.icon {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
.emailInput {
  width: 100%;
}
