@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.bannerContainer {
  position: relative;
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: scaleX(-1);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.gradientOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #121852 0%, rgba(22, 253, 253, 0.2), rgb(255, 125, 27,0.4) 100%);
  background-blend-mode: multiply;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-100);
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2vh;
}

.textWrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--white-100);
  text-align: right;
}

.title {
  font: var(--h1);
  margin-bottom: 8px;
}

.paragraph {
  font: var(--body-16);
  max-width: 40%;
}

.subtitle {
  font: var(--h3);
  letter-spacing: 0.04rem;
  margin-top: 16px;
}


@media screen and (max-width: 768px) {
  .paragraph {
    max-width: 100%;
  }
} 