.ratingStatsItem {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.ratingStatsAverage {
  display: flex;
  align-items: baseline;
  margin-right: 16px;
}

.ratingStatsIcon {
  font-size: 24px;
  margin-right: 4px;
  color: #ffc107;
}

.ratingStatsRating {
  font-size: 24px;
  font-weight: bold;
  color: #ffc107;
}

.ratingStatsTotal {
  font-size: 14px;
  color: #777;
}

@media (max-width: 768px) {
  .ratingStatsItem {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .ratingStatsItem {
    flex-direction: row;
  }
}

