.ratingStatsItem {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.flexColumn {
  flex-direction: column;
}

.ratingStatsAverage {
  display: flex;
  align-items: baseline;
  margin-right: 15px;
}

.ratingStatsIcon {
  font-size: 24px;
  margin-right: 3px;
  color: var(--semantics-success);
}

.ratingStatsRating {
  font-size: 24px;
  font-weight: bold;
  /* color: var(--semantics-success); */
}

.ratingStatsTotal {
  font-size: 0.8rem;
  color: var(--secondary-50);
}

@media (max-width: 900px) {
  

  .ratingStatsAverage{
    margin-right: 0;
  }

  .ratingStatsIcon {
    font-size: 20px;
  }

  .ratingStatsRating {
    font-size: 20px;
  }

  .ratingStatsTotal {
    font-size:0.80rem;
  }
}