.outlet {
  min-height: calc(100vh - 140px);
}

.header{
  width: 100%;
}

.withPanel {
  display: flex;
}

.withPanel .main {
  max-width: calc(100vw - 250px);

}

.main {
  width: 100%;
}

@media (max-width: 767px) {
  .withPanel .main {
      max-width: 100vw;
    }
}