@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.containerForm{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    color: var(--white-100);
    text-align: center;
    margin-bottom: 36px;
    width: 100vw;
    height: 80px;
    background-color: var(--secondary-600);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.08rem;
}

.header h2{
  font: var(--h2);
}

.header p {
  font: var(--body-16);
  margin-top: 8px;
  
}

.registerRoleContainer {
  color: var(--secondary-600);
  width: 100%;
  display: flex;
  flex-direction: row;
  font: var(--body-14-normal);
  margin-bottom: 2rem;
}

.registerRoleForm {
  width: 50%;
}

.selectAllContainer {
  margin: 1rem; 
}

.permissionsContainer {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.category h4 {
  margin-bottom: 10px;
}

.categoryPermissions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.categoryPermissions h5 {
  margin: 0;
}

.categoryName {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.previewContainer {
    width: 100%;
  margin-top: 8px;
}

.previewImage {
  max-width: 360px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.textareaField {
  width: 100%;
  max-width: 508px;
  height: 120px;
  background: #ffffff; /* white-100 */
  border: 0.5px solid #c3d4e4; /* secondary-100 */
  border-radius: 5px;
  font-size: 14px;
  margin-top: 8px;
  padding: 10px;
  font: var(--body-14-normal);
  resize: vertical;
  box-sizing: border-box;
  margin:16px 0;
}

.submitBtn {
  margin: 16px;
}

@media (max-width: 768px) {
  .textareaField {
    height: 80px;
  }
  .registerCategoryContainer {
    flex-direction: column;

  }

  .registerCategoryForm {
    width: 100%;
  }
}

