#root {
    /* max-width: 1280px; */
    margin: 0 auto;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--bg-white-50);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}