:root {
  --primary-900: #2f6304;
  --primary-600: #8abe57;
  --primary-300: #a6cf7e;
  --primary-50: #c9e2b0;
  --sencondary-900: #284258;
  --secondary-600: #37536b;
  --secondary-300: #67849c;
  --secondary-200: #b0c5d7;
  --secondary-100: #c3d4e4;
  --secondary-50: #dee7f0;
  --accent: #ff7d1b;
  --state-available: #0089ff;
  --state-reserved: #ffa400;
  --black: #1c262f;
  --white-100: #ffffff;
  --bg-general: #eef3f9;
  --bg-white-50: #fbfcfe;
  --semantics-success: #caf165;
  --semantics-warning: #ffeea1;
  --semantics-error: #fd7053;
  --semantics-info: #56b8ff;
  --h1: 600 2rem / normal Roboto;
  --h2: 700 1.5rem / normal Roboto;
  --h3: 600 1.25rem / normal Roboto;
  --h4: 600 1.125rem / normal Roboto;
  --h5: 600 1rem / normal Roboto;
  --body-16: 400 1rem/7.8125rem Roboto;
  --body-14-normal: 400 0.875rem / normal Roboto;
  --body-12: 400 0.75rem/7.8125rem Roboto;
  --body-16: 400 1rem / normal Roboto;
  --label-12: 400 0.75rem/7.8125rem Roboto;
  --body-14: 400 0.875rem/9.375rem Roboto;
  --tag: semi bold 0.875rem/7.8125rem Inter;
}
