.dashboard {
  min-width: 250px;
  position: sticky;
  background: var(--sencondary-900);
  color: var(--bg-white-50);
  padding: 24px;
}
.content {
  position: fixed;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 202px;
  height: 31px;
  left: 24px;
  top: 48.91px;
  color: var(--bg-white-50);
  font: var(--body-16);
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.divider {
  border: none;
  border-top: 1px solid var(--secondary-300);
}

.burger-menu {
  display: none;
}

.menu-icon {
  display: none;
}



@media (max-width: 767px) {
  .dashboard {
    display: none;
  }

  .menu-icon {
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary-50);
    display: flex;
    position: fixed;
    justify-content: center;
    top: 90px;
    left: 1.4rem;
    cursor: pointer;
    color: var(--sencondary-900);
    z-index: 2;
    align-items: center;
    border-radius: 4px;
  }

  .burger-menu {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-general);
    z-index: 2;
    padding: 24px;
  }

  .burger-menu .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--secondary-600);
    margin-top: 32px;
  }

  .burger-menu hr.divider {
    margin-bottom: 16px;
    border: none;
    border-top: 1px solid var(--secondary-100);
  }

  .burger-menu .dashboard-section {
    margin-bottom: 16px;
  }

  .burger-menu .dashboard-section a {
    display: block;
    color: var(--secondary-600);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    padding: 8px 0;
    transition: color 0.3s ease;
  }

  .burger-menu .dashboard-section a:hover {
    color: var(--primary-600);
  }

  .burger-menu .dashboard-section a.active {
    color: var(--primary-600);
    font-weight: bold;
  }
}
