.dashboard {
  min-width: 250px;
  position: sticky;
  background: var(--sencondary-900);
  color: var(--bg-white-50);
  padding: 24px;
}
.content {
  position: fixed;
}

.menuContainer {
  display: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 202px;
  height: 31px;
  left: 24px;
  top: 48.91px;
  color: var(--bg-white-50);
  font: var(--body-16);
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.menuClosed {
  min-width: 80px;
  position: sticky;
  background: var(--sencondary-900);
  color: var(--bg-white-50);
  padding: 24px;
}

.menuClosed .dashboardSection {
  display: none;
}

.divider {
  border: none;
  border-top: 1px solid var(--secondary-300);
}
.toggleIcon{
  cursor: pointer;
}

.burger-menu {
  display: none;
}

.menu-icon {
  display: none;
}

.burgerMenu {
  display: none;
}

@media (max-width: 767px) {
  .menuClosed{
    display: none;
  }
  .dashboard {
    display: none;
  }
  .menuContainer {
    width: 100vw;
    display: block;
    background: var(--sencondary-900);
  }

  .iconContainer {
    width: 90%;
    margin: 0 auto;
  }
  .burgerMenu {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 1rem 0;
  }
  .burgerMenuContainer {
    width: 100vw;
    background: var(--sencondary-900);
  }
  .menuIcon {
    padding: 1rem 0;
    background: var(--sencondary-900);
    color: var(--bg-white-50);
    display: flex;
    align-items: center;
    gap:24px;
    font-size: 16px;
    cursor: pointer;
  }
  .breadcrumbs{
    color: var(--secondary-200);
  }

  .burgerMenu a {
    display: block;
    padding: 0.8rem 0;
    color: var(--bg-white-50);
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .burgerMenu a:hover {
    background-color: var(--secondary-200);
    padding: 0.8rem;
    border-radius: 4px;
    color: var(--sencondary-900);
  }
  .section{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .sectionsContainer{
    margin-top: 16px;
  }
  
}
