.pagination-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:12px 0;
  gap: 10px;
  max-width: 574px;
  min-width: 200px;
  background: var(--white-100);
  border: 1px solid var(--secondary-100);
  border-radius: 6px;
  margin: 20px;
  width: 100%;
}

.btn-back,
.btn-forward,
.btn-numbers-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 40px;
  background: var(--white-100);
  border: none;
  border-radius: 6px;
  font: var(--body-16);
  color: var(--black);
  cursor: pointer;
  gap: 6px;
}

.btn-back:hover,
.btn-forward:hover,
.btn-numbers-pagination:hover {
  background: var(--secondary-100);
}

.btn-numbers-pagination {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

ul {
  list-style: none;
}

li a {
  padding: 0 20px;
  text-align: center;
}

.active {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}