.container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 140px);
  width: 100%;
  background-color: var(--bg-general);
}

.text-register {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--secondary-600);
}

.imgContainer {
  width: 50%;
  height: calc(100vh - 140px);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerForm {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form {
  margin: 20px 4rem;
  width: 80%;
  max-width: 500px;
  color: var(--secondary-600);
}

.container .form h2 {
  font-size: 24px;
  margin: 0 20px 10px;
  text-align: center;
}

.container .form form {
  margin-top: 10px;
}

.form-error {
  color: var(--semantics-error);
  font-size: 12px;
}

.container hr {
  margin: 20px 0;
  border: 0 none;
  border-top: 1px solid var(--secondary-200);
  height: 1px;
  clear: both;
}

.termsConditions {
  margin-bottom: 1.5rem;
}

.termsConditions label {
  display: flex;
  font-size: 14px;
  color: var(--secondary-600);
}

.termsConditions input {
  margin-right: 5px;
}


.resendEmail{
  margin: 1.5rem 0;
  font: var(--body-16);
}

.button-register {
  background-color: var(--primary-600);
  color: #ffffff;
  padding: 3px 6px;
  border-radius:4px ;
  border: none;
  font: var(--body-14-normal);
  text-decoration: underline;
  cursor: pointer;
}

.button-register:hover {
  text-decoration: none;
}


.button-register:active {
  transform: translateY(1px);
}

.button-register:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-register:disabled:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.button-register-container {
  margin-top: 10px;
}

.button-register-container p {
  margin: 0;
  font-size: 14px;
}

.button-register-container p button {
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .imgContainer {
    width: 100%;
    height: 200px;
  }

  .containerForm {
    width: 100%;
  }

  .container .form {
    margin: 4rem 0;
  }
}
