.container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 140px);
  width: 100%;
  background-color: var(--bg-general);
}

.text-register {
  text-align: center;
  padding-bottom: 3rem;
  color: var(--secondary-600);
}

.imgContainer {
  height: calc(100vh - 140px);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerForm {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form {
  margin: 20px 4rem;
  width: 80%;
  max-width: 500px;
  color: var(--secondary-600);
}

.container .form h2 {
  font-size: 24px;
  margin: 0 20px 10px;
  text-align: center;
}

.container .form form {
  margin-top: 10px;
}

.form-error {
  color: var(--semantics-error);
  font-size: 12px;
  margin-top: 5px;
}

.container hr {
  margin: 20px 0;
  border: 0 none;
  border-top: 1px solid var(--secondary-200);
  height: 1px;
  clear: both;
}

.button-register {
  width: "15%";
  height: "40px";
  background: "var(--secondary-600)";
  border-radius: "4px";
  color: "var(--white-100)";
  font: "var(--body-14-normal)";
  border: "none";
  max-width: "506px";
  cursor: "pointer";
  margin-top: 10rem;
}
.termsConditions {
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .imgContainer {
    width: 100%;
    height: 200px;
  }

  .containerForm {
    width: 100%;
  }

  .container .form {
    margin: 4rem 0;
  }
}
