.reviewComponent {
  margin-top: 0 atuo;
}

.starsContainer {
  margin: 20px 0;
}

.star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
  margin: 0.4rem;
  border: 1px solid var(--secondary-100);
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.commentText{
  font-size: 0.94rem;
  width: 80%;
}
.filled {
  color: var(--primary-300);
  background-color: var(--black);
}

/* .star:hover,
.star:hover ~ .star {
  color: var(--primary-300);
  background-color: var(--black);
} */

.reviewText {
  line-height: 1.3rem;
  color: var(--secondary-300);
  margin-bottom: 1rem;
}

.reviewRating{
    display: flex;
}

@media (max-width: 768px) {
  .reviewComponent {
    margin: 24px 0;
  }
}
