/* Estilos personalizados para los popups */

.mapboxgl-popup-content {
  width: 250px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--secondary-600);
}

.mapboxgl-popup-close-button {
  width: 32px;
  height: 32px;
  background-color: var(--secondary-50);
  border-radius: 50%;
  margin: 4px;
  color: var(--secondary-900);
  font-size: 20px;
  font-weight: bold;
}

.mapboxgl-popup-close-button:hover {
  background-color: var(--sencondary-900);
  color: var(--secondary-50);
}

