@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.recommendedList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
}

.recommendedList > * {
  flex: 1 1 250px;
  max-width: 100%;
}

  
  
  .recommendedList::after {
    content: "";
    flex-grow: 6; /* Hacer que el pseudo-elemento se expanda para llenar el espacio disponible en la última fila */
    height: 0; /* Establecer la altura en cero para que no ocupe espacio */
    min-width: 250px; /* Establecer una anchura mínima para asegurar que el pseudo-elemento tenga el mismo ancho que las tarjetas */
    
}