.recommendedList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.recommendedList > * {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

.recommendedList::after {
  content: "";
  flex-grow: 6;
  height: 0;
  min-width: 250px;
}

.link {
  all: initial;
}

.linkCard{
cursor: pointer;
}


/* ------------ Transition */

.recommendedList .fade {
  animation: fade-in 300ms ease-in;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  animation: fade-in 300ms ease-in forwards;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  animation: fade-in 300ms ease-out reverse forwards;
}


/* -------- CON PANEL DE ADMINISTRACIÓN --------- */
@media (max-width: 1024px) {
  .recommendedList > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .recommendedList {
    justify-content: flex-start;
  }

  .recommendedList > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}