.accordion-container {
    margin-top: 20px;
    border: 1px solid var(--secondary-50);
    border-radius: 4px;
  }
  
  .accordion-header {
    padding: 10px;
    background-color: var(--secondary-50);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-title {
    font: var(--h5);
    color: var(--secondary-600);
  }
  
  .accordion-icon {
    font-size: 24px;
  }
  
  .accordion-content {
    padding: 10px;
    font: var(--body-14-normal);
    color: var(--secondary-600);
  }