.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.action-button {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: var(--sencondary-600);
  background-color: var(--secondary-50);
}

.disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--secondary-100);
  color: var(--white-100);
}

.action-button-delete:hover {
  background: var(--semantics-error);
  color: var(--white-100);
}

.action-button-edit:hover {
  background: var(--state-available);
  color: var(--white-100);
}
