

@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 249px;
    height: 42px;
    left: 20px;
    top: 82px;
    
    border-radius: 4px;
    }
    
    .primary-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    
    width: 207px;
    height: 42px;
    
    background: var(--secondary-300);
    border-radius: 4px 0px 0px 4px;
    
    flex: none;
    order: 0;
    flex-grow: 1;
    }
    
    .secondary-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    
    width: 42px;
    height: 42px;
    
    background: #284258;
    border-radius: 0px 4px 4px 0px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }