
@import "/src/styles/variables.css";
@import "/src/styles/global.css";


.button {
    width: 100%;
    height: 40px;
    background: #37536b;
    border-radius: 4px;
    color: white;
    font: var(--body-14-normal);
    border: none;
  }

.button:hover {
  background: #A6CF7E;
  color: #37536b;
}
