@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.table-row {
  height: 58px;
  background-color: white;
  font-size:12px ;
  font-family: "Roboto", sans-serif;
}

.table-row td {
  border-bottom: 1px solid var(--secondary-50);
  padding: 0 10px;
}

.description-cell {
  max-width: 80px;
}

.container-text-description {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas máximo antes de mostrar los puntos suspensivos */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  width: 120px;
  position: sticky;
  right: 0;
  background-color: white;
  z-index: 1;
}

.category-image {
  width: 47.82px;
  height: 38px;
  border-radius: 4px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
