@import "/src/styles/variables.css";
@import "/src/styles/global.css";


.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 506px;
    height: 64px;
    font: var(--body-16);
    margin-bottom: 16px;
  }
  
  .label {
    font: var(--body-14-normal);
    color: var(--secondary-600);
  }
  
  .input {
    width: 100%;
    height: 40px;
    background: var(--white-100);
    border: 0.5px solid var(--secondary-100); 
    border-radius: 5px;
    padding: 11px 12px;
    font-size: 14px;
    margin-top: 8px;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .container {
      width: 100%;

    }

  }