@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.inputContainer {
  max-width: 506px;
  height: 64px;
  font: var(--body-16);
  margin-bottom: 16px;
}

.error {
  margin-bottom: 2rem;
}

.label {
  font: var(--body-14-normal);
  color: var(--secondary-600);
  margin-left: 0.8rem;
}

.input {
  width: 100%;
  height: 40px;
  background: var(--white-100);
  border: 0.5px solid var(--secondary-100);
  border-radius: 5px;
  padding: 11px 12px;
  font-size: 14px;
  margin-top: 6px;
}

.input::placeholder {
  color: #81a3be;
}

input:disabled {
  background: var(--secondary-10);
}

.errorMessage {
  color: var(--semantics-error);
  font-size: 12px;
  margin: 4px 0;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
