.container {
  position: relative;
}

.visibleButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(10%);
  border: none;
  background: none;
  cursor: pointer;
  color: var(--secondary-300);
}
